In [1]:
import gdown
import pandas as pd

# 아래 두개의 값 입력 (로컬 컴퓨터 환경에서 실행은 url 비워둘 것)
filename = 'pt_book_fix.csv'  # 예제에서 사용할 filename 입력
url = ''    # 여기에 본인이 가진 링크의 난수 입력

if url != '' :
    gdown.download(f'https://drive.google.com/uc?id={url}', filename, quiet=False)
    dir = ''
else :
    dir = '../_csv/'  # 로컬 컴퓨터 환경에서 사용할 dir (예제는 _csv)

pt_book = pd.read_csv(f'{dir}{filename}', low_memory=False)
pt_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,세이노의 가르침,세이노 지음,데이원,2023,9.79117E+12,NaN,0,NaN,199.1,1,0,2023-03-30
1,2,서울대생의 비밀과외,"소린TV,안소린 [공]지음",다산에듀,2023,9.79113E+12,NaN,1,NaN,373.7,1,0,2023-03-30
2,3,(현직 고등학교 선생님들이 직접 고른) 생기부 필독서 100,주경아 외 지음,센시오,2023,9.79117E+12,NaN,1,NaN,376.6,1,0,2023-03-30
3,4,당연하게도 나는 너를,이꽃님 지음,우리학교,2023,9.79117E+12,NaN,4,NaN,813.7,1,0,2023-03-30
4,5,고요한 우연,김수빈 지음,문학동네,2023,9.78895E+12,NaN,0,NaN,813.7,1,0,2023-03-30

## 요약 통계

In [2]:
pt_book.describe()     # 기술통계 요약

,번호,발행년도,세트 ISBN,도서권수,대출건수
count,207142.000000,207142.000000,1.598900e+04,207142.000000,207142.000000
mean,112296.234612,2008.155975,9.786803e+12,1.027995,12.922053
std,65441.386110,9.824295,1.465370e+11,0.194382,21.408999
min,1.000000,0.000000,8.984980e+10,1.000000,0.000000
25%,55494.250000,2003.000000,9.788950e+12,1.000000,2.000000
50%,113103.500000,2008.000000,9.788960e+12,1.000000,6.000000
75%,169108.750000,2013.000000,9.788990e+12,1.000000,15.000000
max,227834.000000,3012.000000,9.791200e+12,13.000000,1428.000000

**count** : 누락된 값을 제외한 데이터 개수   
**mean** : 평균   
**std** : 표준편차   
**min** : 최솟값   
**50%** : 중앙값   
**25%와 75%** : 순서대로 늘어 놓았을 때 25% 지점과 75% 지점에 놓인 값   
**max** : 최댓값

In [3]:
pt_book.describe(percentiles=[0.3, 0.6, 0.9])   # 특정 퍼센티지

,번호,발행년도,세트 ISBN,도서권수,대출건수
count,207142.000000,207142.000000,1.598900e+04,207142.000000,207142.000000
mean,112296.234612,2008.155975,9.786803e+12,1.027995,12.922053
std,65441.386110,9.824295,1.465370e+11,0.194382,21.408999
min,1.000000,0.000000,8.984980e+10,1.000000,0.000000
30%,66360.300000,2004.000000,9.788950e+12,1.000000,3.000000
50%,113103.500000,2008.000000,9.788960e+12,1.000000,6.000000
60%,135566.600000,2010.000000,9.788970e+12,1.000000,9.000000
90%,202784.900000,2019.000000,9.789000e+12,1.000000,33.000000
max,227834.000000,3012.000000,9.791200e+12,13.000000,1428.000000

In [4]:
pt_book.describe(include='object')

,도서명,저자,출판사,ISBN,부가기호,권,주제분류번호,등록일자
count,207142,207142,207142,207142,158938,49819,206211,207142
unique,180465,139952,13468,244,15,662,8131,4504
top,(KBS)역사스페셜,편집부 편,웅진씽크빅,9.78899E+12,0,1,813.6,1998-07-11
freq,100,253,3056,38875,74017,7929,9583,3641

## 계산 함수

In [5]:
loan_mean = pt_book['대출건수'].mean()
loan_median = pt_book['대출건수'].median()
print(loan_mean, loan_median)

12.922053470566086 6.0

In [6]:
pt_book['대출건수'].drop_duplicates().median()  # 중복값 제거

161.5

In [7]:
loan_min = pt_book['대출건수'].min()
loan_max = pt_book['대출건수'].max()
print(loan_min, loan_max)

0 1428

In [8]:
pt_book['대출건수'].quantile(0.25)  # 분위값 (하위 25%)
pt_book['대출건수'].quantile([0.25,0.5,0.75])
# quantile은 보간을 하기때문에 두사이 지점의 특정위치의 값을 구함 (interpolation ='midpoint', 'nearest')

0.25     2.0
0.50     6.0
0.75    15.0
Name: 대출건수, dtype: float64

In [9]:
borrow_10_flag = pt_book['대출건수'] < 10   # 백분위, 10보다 작은 리스트
borrow_10_flag.mean()  # 리스트의 평균 (비율)

0.6263384538142917

## 통계 함수

In [10]:
pt_book['대출건수'].var()   # 분산

458.34524056239843

In [11]:
pt_book['대출건수'].std()   # 표준편차

21.408999055593384

In [12]:
pt_book['도서명'].mode()    # 최빈값 (가장 많이 등장하는 값)

0    (KBS)역사스페셜
Name: 도서명, dtype: object

In [13]:
pt_book.mean(numeric_only=True)     # 수치형 열만 연산

번호         1.122962e+05
발행년도       2.008156e+03
세트 ISBN    9.786803e+12
도서권수       1.027995e+00
대출건수       1.292205e+01
dtype: float64

In [14]:
pt_book.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,(KBS)역사스페셜,편집부 편,웅진씽크빅,2003,9.78899E+12,9.788960e+12,0,1,813.6,1,0,1998-07-11